$primaryColor: #1d295f; 
$secondaryColor: #7c1d47;
$accentColor: #3990c3;
$greyColor: #ccc;

$defaultFont: "Lato", serif; //replace font
$lightWeight: 300;
$normalWeight: 400;
$leading: 150%;

$gutter: 10px;